@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrão: arial,verdana,helvetica,sans-serif;
    --fonte-destaque:'bebas neue',sans-serif;
    --fonte-android: 'Android',arial;
}

body{
    margin: auto;
    background-color:var(--cor0) ;
    font-family: var(--fonte-padrão)
}
header{
    padding: 25px;
    margin-top: -70px;
    background-image: linear-gradient(to bottom, #026d32dc,#022502);    
}
header > h1 {
    text-align: center;
    color: white;  
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 2px black;
    padding-top: 40px;
    font-size: 3em; 
}
header > p{
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    text-align: center; 
    color: white;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
nav{
    margin-bottom: -15px;
    margin-top: 15px;
    text-align: justify;
}
nav > a{
    color: var(--cor1);
    text-decoration: none;
    text-align: justify;
    margin-right: 0px;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    transition-duration:.5s;

}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 1000px;
    min-width: 300px ;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px
    10px black;
}
article > p{
    font-size: 1em;
    line-height: 2em;
    text-indent: 30px;
}
main img {
    width: 100%;
}
main img.peq {
    max-width: 350px;
    display: block;
    margin: auto;
}
article > h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    
}
article > h2 {
    font-family: var(--fonte-android);
    background-color: var(--cor0);
    color: var(--cor4);
}
p{
    text-align: justify;
}
div.video{
    background-color:var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20;
    padding-bottom: 58.5%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left:5%;
    width:91%;
    height: 91%;
}
aside > ul {
    columns: 2;
}
aside{
    background-color: #c5ebd6;
    padding: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.541);
    border-radius: 6px;
    background-color: #c5ebd6;
    padding: 10px;
    margin-top: 30px;
}
aside > h3{
    color: white;
    background-color: #0f8042;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

footer {
    color: white;
    text-align: center;
    background-color: #1F743D;
    margin-top: 15px;
    padding: 5px;
}
img{
    position: center;
}